@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

/*this code applies a consistent box model and resets default margin and padding for all elements. The box-sizing property is set to border-box, which includes padding and border in the element's total width and height. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #000000;
  display: flex;
  justify-content: space-between; /* the space-between alignment distributes elements evenly */
  padding: 10px 10%;
  align-items: center;
}

h1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
  font-weight: 900px;
  margin: 10px 0 10px 15px;
  line-height: 22px;
  letter-spacing: -1px;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
}

nav {
  background-color: #000000;
}

.nav__links {
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
  margin-top: 10px;
  background-color: #000000;
}

.nav__links li a {
  text-decoration: none;
  list-style: none;
  /* transition: all 0.3s ease 0s; */
  color: #ffffff;
  background-color: #000000;
  font-family: "Roboto Flex", sans-serif;
}

.nav__links li:hover {
  transform: scale(1.1);
}

.nav__links li a.active {
  color: orangered;
  border-style: solid;
  border-color: orangered;
  padding: 2px;
  border-width: 1px;
}

img {
  width: 100%;
  height: 350px;
  opacity: 80%;
  object-fit: cover;
}

.photo__category-link {
  text-decoration: none;
  font-family: "Roboto Flex", sans-serif;
  font-style: bold;
  font-size: 450%;
  font-weight: 900px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
}

.photo__category-link:hover {
  color: orangered;
}
.photo__category:hover {
  opacity: 50%;
}
