@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

/*this code applies a consistent box model and resets default margin and padding for all elements. The box-sizing property is set to border-box, which includes padding and border in the element's total width and height. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

.container {
  background-color: #000000;
  height: 100px;
}

h1 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 900px;
  margin-left: 15px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #ffffff;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  margin-right: 15px;
  font-family: "Roboto Flex", sans-serif;
}

.nav__links li {
  transition: all 0.3s ease 0s;
  color: #ffffff;
}

.nav__links li:hover {
  transform: scale(1.1);
}
